{% extends 'base.html' %}
{% load static %}
{% block title %} expenses page{% endblock %}

{% block content %}
    <style>
        form {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
        }
        .form-group input,
        .form-group select,
        .form-group textarea {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .form-group textarea {
            height: 100px;
        }
        .form-group button {
            padding: 10px 20px;
            background-color:#63a8bd;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
<form action="{% url 'add_expense' %}" method="POST">
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% csrf_token %}
    <div class="form-group">
        <label for="selection">Trip</label>
        <select id="selection" name="Trip" required>
            <option >Select an option</option>
            {% if trips %}
            {% for trip in trips %}
            <option value="{{trip.id}}">{{trip.name}} from {{trip.start_date}} to {{trip.end_date}}</option>
            {% endfor %}
            {% else %}
            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <label for="selection">Category:</label>
        <select id="selection" name="category">
            <option value="">Select an option</option>
            {% if categories %}
            {% for trip in categories %}
            <option value="{{trip.id}}">{{trip.name}}</option>
            {% endfor %}
            {% else %}
            {% endif %}
        </select>
    </div>
    <div class="form-group">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
    </div>
    <div class="form-group">
        <label for="number">Price:</label>
        <input type="number" id="number" name="price">
    </div>
    <div class="form-group">
        <label for="textarea">Description</label>
        <textarea id="textarea" name="description"></textarea>
    </div>
    <div class="form-group">
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock %}