{% extends 'base.html' %}
{% load static %}
{% block title %} Trip page{% endblock %}

{% block content %}
    <style>
        form {
            max-width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
        }
        .form-group input,
        .form-group select,
        .form-group textarea {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .form-group textarea {
            height: 100px;
        }
        .form-group button {
            padding: 10px 20px;
            background-color:#63a8bd;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
<form action="{% url 'add_category' %}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="date">category</label>
        <input type="text" id="date" name="category" required>
    </div>
    <div class="form-group">
        <button type="submit">Submit</button>
    </div>
</form>
<form >
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 20px auto;
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
        }
        th, td {
            padding: 10px;
            border: 1px solid #ccc;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
    <h2 style="text-align: center;">categories</h2>
    {% if categories %}
    <table>
        <thead>
            <tr>
                <th>S.No</th>
                <th>category</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{category.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</form>
{% endblock %}