{% extends 'base.html' %}
{% load static %}
{% block title %} Trip page{% endblock %}

{% block content %}
    <style>
        form {
            max-width: 700px;
            margin: auto;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-group label {
            display: block;
            margin-bottom: 5px;
        }
        .form-group input,
        .form-group select,
        .form-group textarea {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .form-group textarea {
            height: 100px;
        }
        .form-group button {
            padding: 10px 20px;
            background-color:#63a8bd;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        .expense{
            padding:30px;
        }
    </style>
<form >
    <div class="expense">
        {% if expenses %}
        <h2>{{trip.name}}</h3>
        {% for expense in expenses %}
            <div class="form-group">
                <label for="selection">{{expense.date}} - <strong>{{expense.category}}</strong>  :-{{expense.amount}}</label>
            </div>
        {% endfor %}
        <div class="form-group">
            <label for="selection">Total-{{amount}}</label>
        </div>
        {% else %}
        {% endif %}
    </div>
</form>
{% endblock %}